{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load info_system_extras %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if not request.user|has_group:"бухгалтер" %}

            <h3 class="mt-5 mb-5 text-center">Предварительное соглашение {{ preliminary_agreement.id }}</h3>

            <div class="row justify-content-md-center" style="">
                <div class="col col-lg-2">
                    </div>

                <div class="col-lg-6">
                            <div class="card mb-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'edit_preliminary_agreement' preliminary_agreement.id %}">Основное</a>
                                </li>
                                <li class="nav-item">
                                    {% if preliminary_agreement.country_to_visit is None %}
                                        <a class="nav-link" href="{% url 'choose_country_to_visit' preliminary_agreement.id %}">Города посещения</a>
                                    {% else %}
                                        <a class="nav-link" href="{% url 'cities_to_visit_list' preliminary_agreement.id %}">Города посещения</a>
                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                        <div class="card-body ">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="btn-close" onclick="this.parentElement.style.display='none';"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media }}
                                {% bootstrap_form form %}
                                <input type="submit" class="btn btn-warning mt-3 mr-3" value="Сохранить">
                                <a href="{% url 'delete_preliminary_agreement' preliminary_agreement.id %}" class="btn btn-danger mt-3">Удалить</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-2">
                    </div>
            </div>

        {% else %}
            <div class="text-center mt-5">
                <h1>Доступ запрещён!</h1>
                <p class="lead">К сожалению, ваша роль в системе не позволяет просматривать эту страницу</p>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center mt-5">
            <h1>Вы не авторизованы!</h1>
            <p class="lead">Для получения доступа к функционалу приложения, пожалуйста, авторизуйтесь</p>
        </div>
    {% endif %}
{% endblock %}
