{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3 class="mt-5 mb-5 text-center">Предварительные соглашения</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" onclick="this.parentElement.style.display='none';"></button>
        </div>
    {% endfor %}
{% endif %}

<a class="btn btn-success m-3" href="{% url 'add_preliminary_agreement' %}">Добавить новое предварительное соглашение</a>

<div class="row">
    <div class="col-sm-6">

    {% for preliminary_agreement in preliminary_agreements %}
        <div class="card m-3 bg-light">
            <div class="card-body">
                <a href="{% url 'edit_preliminary_agreement' preliminary_agreement.id %}" class="text-dark"><h5 class="card-title">{{ preliminary_agreement.id }}</h5></a>
                <p class="card-text">{{ preliminary_agreement.client }}</p>
            </div>
        </div>
    {% endfor %}

  </div>
</div>

{% endblock %}