{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h3 class="mt-5 mb-5 text-center">Сотрудник</h3>

<div class="row" style="">
    <div class="col-md-6 offset-md-3">
<!--        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% if employee.photo %}
                    <img src="../../media/{{ employee.photo }}" alt="фотография сотрудника" style="max-width: 100%;"><br>
                    <a href="../../media/{{ employee.photo }}" download="сотрудник" class="btn btn-success btn-sm mt-2">Скачать фотографию</a>
                {% else %}
                    <p>У сотрудника нет фотографии</p>
                {% endif %}
                <input type="submit" class="btn btn-warning mt-3" value="Сохранить">
            </form>
    </div>
</div>




{% endblock %}