{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3 class="mt-5 mb-5 text-center">Сотрудники</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" onclick="this.parentElement.style.display='none';"></button>

        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-sm-6">

    {% for employee in employees %}
        <div class="card m-3 bg-light">
            <div class="card-body">
                <a href="{% url 'edit_employee' employee.id %}" class="text-dark"><h5 class="card-title">{{ employee.surname }} {{ employee.first_middle_name }}</h5></a>
                <p class="card-text">{{ employee.position }}</p>
            </div>
        </div>
    {% endfor %}

  </div>
</div>

{% endblock %}